<div id="page_wrapper">
  <div id="profile_image">
   <%= image_tag "avatar.png" %>
  </div>
  <div id="content">
    <h1>I'm Snoels/Fupuchu</h1>
    <h1>TL;DR I'm Potato</h1>
    <h2>I have a potato for a brain</h2>
    <h3>LF> Moar Potatoes</h3>
    <%= image_tag "snoels.jpg" %>

  </div>
</div>
