<div id="page_wrapper">
  <div id="profile_image">
   <%= image_tag "avatar.png" %>
  </div>
  <div id="content">
    <h1>I'm Snoels/Fupuchu</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, voluptate eum est sit veritatis aperiam, magnam. Dolore voluptas, libero quo. Blanditiis nihil harum iusto vero iure ea et? Fugiat, consequuntur.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vero recusandae numquam quam, laborum distinctio quasi! Dolorum voluptatem animi iste, ducimus, architecto odit veritatis doloribus quis quidem ratione, vero maxime.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo vero recusandae numquam quam, laborum distinctio quasi! Dolorum voluptatem animi iste, ducimus, architecto odit veritatis doloribus quis quidem ratione, vero maxime.</p>
    <h3>Follow me!</h3>
    <ul>
      <li><a href="https://twitter.com/fupuchu">@fupuchu</a></li>
      <li><a href="http://instagram.com/fupuchu">Instgram</a></li>
      <li><a href="http://github.com/fupuchu">GitHub</a></li>
    </ul>
  </div>
</div>
